<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Levels</key>
	<dict>
		<key>Grassland</key>
		<dict>
			<key>Properties</key>
			<dict>
				<key>CameraFollowsPlayer</key>
				<true/>
				<key>DisableAttack</key>
				<false/>
				<key>CameraOffset</key>
				<string>{200,0}</string>
				<key>ContinuePoint</key>
				<true/>
			</dict>
			<key>Clear</key>
			<dict/>
			<key>Rewards</key>
			<dict>
				<key>Health</key>
				<string></string>
				<key>Projectile / Weapon</key>
				<string></string>
				<key>Inventory</key>
				<string></string>
				<key>Currency</key>
				<string></string>
				<key>Class</key>
				<string></string>
			</dict>
			<key>NPC</key>
			<dict>
				<key>Villager2</key>
				<dict>
					<key>BaseImage</key>
					<string>VillagerBase</string>
					<key>Front</key>
					<string>VillagerFront</string>
					<key>Back</key>
					<string>VillagerBack</string>
					<key>Left</key>
					<string>VillagerLeft</string>
					<key>Right</key>
					<string>VillagerRight</string>
					<key>InitialSpeech</key>
					<array>
						<string>Howdy stranger, did you hear the disturbance at the cave last night?</string>
						<string>My Brother heard something odd at the cave last night</string>
					</array>
					<key>ReminderSpeech</key>
					<array>
						<string>Did you ever get around to checking out the cave??</string>
						<string>How about that cave?</string>
					</array>
					<key>Range</key>
					<string>VillagerRange</string>
					<key>Icon</key>
					<string>VillagerIcon</string>
					<key>Collidable</key>
					<true/>
				</dict>
				<key>Villager1</key>
				<dict>
					<key>BaseImage</key>
					<string>VillagerBase</string>
					<key>Front</key>
					<string>VillagerFront</string>
					<key>Back</key>
					<string>VillagerBack</string>
					<key>Left</key>
					<string>VillagerLeft</string>
					<key>Right</key>
					<string>VillagerRight</string>
					<key>InitialSpeech</key>
					<array>
						<string>Howdy stranger, did you hear the disturbance at the cave last night?</string>
						<string>My Brother heard something odd at the cave last night</string>
					</array>
					<key>ReminderSpeech</key>
					<array>
						<string>Did you ever get around to checking out the cave??</string>
						<string>How about that cave?</string>
					</array>
					<key>Range</key>
					<string>VillagerRange</string>
					<key>Icon</key>
					<string>VillagerIcon</string>
					<key>Collidable</key>
					<false/>
				</dict>
			</dict>
		</dict>
		<key>Dungeon</key>
		<dict>
			<key>Properties</key>
			<dict>
				<key>CameraFollowsPlayer</key>
				<true/>
				<key>DisableAttack</key>
				<false/>
				<key>CameraOffset</key>
				<string>{0,200}</string>
				<key>ContinuePoint</key>
				<true/>
			</dict>
			<key>NPC</key>
			<dict>
				<key>DungeonVillager1</key>
				<dict>
					<key>BaseImage</key>
					<string>VillagerBase</string>
					<key>Front</key>
					<string>VillagerFront</string>
					<key>Back</key>
					<string>VillagerBack</string>
					<key>Left</key>
					<string>VillagerLeft</string>
					<key>Right</key>
					<string>VillagerRight</string>
					<key>InitialSpeech</key>
					<array>
						<string>Howdy stranger, did you hear the disturbance at the cave last night?</string>
						<string>My Brother heard something odd at the cave last night</string>
					</array>
					<key>ReminderSpeech</key>
					<array>
						<string>Did you ever get around to checking out the cave??</string>
						<string>How about that cave?</string>
					</array>
					<key>Range</key>
					<string>VillagerRange</string>
					<key>Icon</key>
					<string>VillagerIcon</string>
					<key>Collidable</key>
					<false/>
				</dict>
				<key>DungeonVillager2</key>
				<dict>
					<key>BaseImage</key>
					<string>VillagerBase</string>
					<key>Front</key>
					<string>VillagerFront</string>
					<key>Back</key>
					<string>VillagerBack</string>
					<key>Left</key>
					<string>VillagerLeft</string>
					<key>Right</key>
					<string>VillagerRight</string>
					<key>InitialSpeech</key>
					<array>
						<string>Howdy stranger, want to know something cool?</string>
						<string>Winter is coming</string>
					</array>
					<key>ReminderSpeech</key>
					<array>
						<string>Did you ever get around to checking out the cave??</string>
						<string>How about that cave?</string>
					</array>
					<key>Range</key>
					<string>VillagerRange</string>
					<key>Icon</key>
					<string>VillagerIcon</string>
					<key>Collidable</key>
					<false/>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
